*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --greenish-color: #888823
}

#wrapper{
  height: 100vh;
  background-color: blueviolet;
}
#wrapper, #battery-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
}
#battery-wrapper{
  width: 50%;
  height: 300px;
  background-color: #fff;
}
.battery{
  width: 50%;
  height: 40%;
  border: 8px solid var(--greenish-color);
  position: relative;
  padding: 0.25rem;
}
.battery:after {
  content: '';
  position: absolute;
  right: -36px;
  top: 27px;
  width: 20px;
  height: 30px;
  border: 8px solid var(--greenish-color);
}
.battery .juice{
  width: 5%;
  height: 100%;
  background-color: var(--greenish-color);
  animation: recharge 4s linear infinite;
}

@keyframes recharge {
  0%{width: 5%;}
  20%, 40%{width: 15%;}
  50%, 60%{width: 45%;}
  70%, 80%{width: 75%;}
  90%, 100%{width: 100%;}
}