*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
a{text-decoration: none;}
ul{list-style: none;}

header{
  background-color: #000;
  padding: 0 4rem;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header, header a{
  color: #fff;
}
header ul{
  display: flex;
}
header ul a{
  padding: 0 1rem;
  margin: 0 0.25rem;
  font-weight: 700;
}



#hero{
  background: url(images/bubbles.svg) center -138px / 100% 1068px no-repeat, linear-gradient(-45deg, rgb(108, 14, 224) -5%, rgb(240, 55, 166));
  padding: 6rem 2rem 0;
  display: flex;
}
#hero .left{
  width: 40%;
}
#hero .right{
  width: 60%;
}
#hero .left .phone{
  position: relative;
  width: 290px;
}
#hero .left .phone .phoneScreen {
  position: absolute;
  left: 0;
  top: 54px;
  width: 100%;
  padding: 0 0.5rem;
}